<!-- Page Header -->
<div class="content bg-gray-lighter">
    <div class="row items-push">
        <div class="col-sm-7">
            <h1 class="page-heading">
                PBX
                <small>Control.</small>
            </h1>
        </div>
        <div class="col-sm-5 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li>Dashboard</li>
                <li><a class="link-effect" href="">PBX</a></li>
            </ol>
        </div>
    </div>
</div>
<!-- END Page Header -->

<!-- Page Content -->
<div class="content">
    <!-- My Block -->
    <div class="block">
        <div class="block-header">
            <ul class="block-options">
                <li>
                    <button type="button" data-toggle="block-option" data-action="refresh_toggle"
                            data-action-mode="demo"><i class="si si-refresh"></i></button>
                </li>
            </ul>
            <h3 class="block-title">My numbers</h3>
        </div>
        <div class="block-content">
            <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                <div class="row">
                    <div class="col-sm-6">
                        <button class="btn btn-primary push-5-r push-10" type="button"><i class="fa fa-plus"></i> Buy number</button>
                    </div>
                    <div class="col-sm-2">
                        <div class="dataTables_length" id="DataTables_Table_1_length"><label><select
                                name="DataTables_Table_1_length" aria-controls="DataTables_Table_1"
                                class="form-control">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                        </select></label></div>
                    </div>
                    <div class="col-sm-4">
                        <div id="DataTables_Table_1_filter" class="dataTables_filter"><label>Search:<input type="search"
                                                                                                           class="form-control"
                                                                                                           placeholder=""
                                                                                                           aria-controls="DataTables_Table_1"></label>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered table-striped js-dataTable-full dataTable no-footer"
                               id="DataTables_Table_1" role="grid" aria-describedby="DataTables_Table_1_info">
                            <thead>
                            <tr role="row">
                                <th class="text-center sorting_asc" tabindex="0" aria-controls="DataTables_Table_1"
                                    rowspan="1" colspan="1" aria-sort="ascending"
                                    aria-label=": activate to sort column descending" style="width: 50px;"></th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1"
                                    colspan="1" aria-label="Name: activate to sort column ascending"
                                    style="width: 252px;">Name
                                </th>
                                <th class="hidden-xs sorting" tabindex="0" aria-controls="DataTables_Table_1"
                                    rowspan="1" colspan="1" aria-label="Email: activate to sort column ascending"
                                    style="width: 363px;">Email
                                </th>
                                <th class="hidden-xs sorting" style="width: 116px;" tabindex="0"
                                    aria-controls="DataTables_Table_1" rowspan="1" colspan="1"
                                    aria-label="Access: activate to sort column ascending">Access
                                </th>
                                <th class="text-center sorting_disabled" style="width: 64px;" rowspan="1" colspan="1"
                                    aria-label="Actions">Actions
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr role="row" class="odd">
                                <td class="text-center sorting_1">1</td>
                                <td class="font-w600">Emma Cooper</td>
                                <td class="hidden-xs">client1@example.com</td>
                                <td class="hidden-xs">
                                    <span class="label label-success">VIP</span>
                                </td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip"
                                                title="" data-original-title="Edit Client"><i class="fa fa-pencil"></i>
                                        </button>
                                        <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip"
                                                title="" data-original-title="Remove Client"><i class="fa fa-times"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr role="row" class="even">
                                <td class="text-center sorting_1">2</td>
                                <td class="font-w600">Vincent Sims</td>
                                <td class="hidden-xs">client2@example.com</td>
                                <td class="hidden-xs">
                                    <span class="label label-info">Business</span>
                                </td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip"
                                                title="" data-original-title="Edit Client"><i class="fa fa-pencil"></i>
                                        </button>
                                        <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip"
                                                title="" data-original-title="Remove Client"><i class="fa fa-times"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr role="row" class="odd">
                                <td class="text-center sorting_1">3</td>
                                <td class="font-w600">Bruce Edwards</td>
                                <td class="hidden-xs">client3@example.com</td>
                                <td class="hidden-xs">
                                    <span class="label label-primary">Personal</span>
                                </td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip"
                                                title="" data-original-title="Edit Client"><i class="fa fa-pencil"></i>
                                        </button>
                                        <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip"
                                                title="" data-original-title="Remove Client"><i class="fa fa-times"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr role="row" class="even">
                                <td class="text-center sorting_1">4</td>
                                <td class="font-w600">Amber Walker</td>
                                <td class="hidden-xs">client4@example.com</td>
                                <td class="hidden-xs">
                                    <span class="label label-primary">Personal</span>
                                </td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip"
                                                title="" data-original-title="Edit Client"><i class="fa fa-pencil"></i>
                                        </button>
                                        <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip"
                                                title="" data-original-title="Remove Client"><i class="fa fa-times"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr role="row" class="odd">
                                <td class="text-center sorting_1">5</td>
                                <td class="font-w600">Megan Dean</td>
                                <td class="hidden-xs">client5@example.com</td>
                                <td class="hidden-xs">
                                    <span class="label label-info">Business</span>
                                </td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip"
                                                title="" data-original-title="Edit Client"><i class="fa fa-pencil"></i>
                                        </button>
                                        <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip"
                                                title="" data-original-title="Remove Client"><i class="fa fa-times"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr role="row" class="even">
                                <td class="text-center sorting_1">6</td>
                                <td class="font-w600">Walter Fox</td>
                                <td class="hidden-xs">client6@example.com</td>
                                <td class="hidden-xs">
                                    <span class="label label-primary">Personal</span>
                                </td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip"
                                                title="" data-original-title="Edit Client"><i class="fa fa-pencil"></i>
                                        </button>
                                        <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip"
                                                title="" data-original-title="Remove Client"><i class="fa fa-times"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr role="row" class="odd">
                                <td class="text-center sorting_1">7</td>
                                <td class="font-w600">Ann Parker</td>
                                <td class="hidden-xs">client7@example.com</td>
                                <td class="hidden-xs">
                                    <span class="label label-primary">Personal</span>
                                </td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip"
                                                title="" data-original-title="Edit Client"><i class="fa fa-pencil"></i>
                                        </button>
                                        <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip"
                                                title="" data-original-title="Remove Client"><i class="fa fa-times"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr role="row" class="even">
                                <td class="text-center sorting_1">8</td>
                                <td class="font-w600">Jack Greene</td>
                                <td class="hidden-xs">client8@example.com</td>
                                <td class="hidden-xs">
                                    <span class="label label-danger">Disabled</span>
                                </td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip"
                                                title="" data-original-title="Edit Client"><i class="fa fa-pencil"></i>
                                        </button>
                                        <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip"
                                                title="" data-original-title="Remove Client"><i class="fa fa-times"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr role="row" class="odd">
                                <td class="text-center sorting_1">9</td>
                                <td class="font-w600">Dennis Ross</td>
                                <td class="hidden-xs">client9@example.com</td>
                                <td class="hidden-xs">
                                    <span class="label label-success">VIP</span>
                                </td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip"
                                                title="" data-original-title="Edit Client"><i class="fa fa-pencil"></i>
                                        </button>
                                        <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip"
                                                title="" data-original-title="Remove Client"><i class="fa fa-times"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr role="row" class="even">
                                <td class="text-center sorting_1">10</td>
                                <td class="font-w600">Eugene Burke</td>
                                <td class="hidden-xs">client10@example.com</td>
                                <td class="hidden-xs">
                                    <span class="label label-primary">Personal</span>
                                </td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip"
                                                title="" data-original-title="Edit Client"><i class="fa fa-pencil"></i>
                                        </button>
                                        <button class="btn btn-xs btn-default" type="button" data-toggle="tooltip"
                                                title="" data-original-title="Remove Client"><i class="fa fa-times"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="dataTables_info" id="DataTables_Table_1_info" role="status" aria-live="polite">
                            Showing <strong>1</strong>-<strong>10</strong> of <strong>40</strong></div>
                    </div>
                    <div class="col-sm-6">
                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_1_paginate">
                            <ul class="pagination">
                                <li class="paginate_button previous disabled" aria-controls="DataTables_Table_1"
                                    tabindex="0" id="DataTables_Table_1_previous"><a href="#"><i
                                        class="fa fa-angle-left"></i></a></li>
                                <li class="paginate_button active" aria-controls="DataTables_Table_1" tabindex="0"><a
                                        href="#">1</a></li>
                                <li class="paginate_button " aria-controls="DataTables_Table_1" tabindex="0"><a
                                        href="#">2</a></li>
                                <li class="paginate_button " aria-controls="DataTables_Table_1" tabindex="0"><a
                                        href="#">3</a></li>
                                <li class="paginate_button " aria-controls="DataTables_Table_1" tabindex="0"><a
                                        href="#">4</a></li>
                                <li class="paginate_button next" aria-controls="DataTables_Table_1" tabindex="0"
                                    id="DataTables_Table_1_next"><a href="#"><i class="fa fa-angle-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END My Block -->
</div>
<!-- END Page Content -->