<div {{bind-attr class=":dashboard-wrapper :protected-app-resources isShowMissionControl:navigator-visible"}}  >
    <div class="app-wrapper ">
        <div class="alert alert-danger text-center offline-status">
            <p>There's a problem connecting…
                <button class="btn btn-link">Refresh</button>
            </p>
        </div>

        <div class="flash-messages"></div>

        <div class="sidebar scrollable-container">
            <div id="sidebar" class="sidebar-wrapper">


                <div class="sidebar-container property-switcher fixed-top allow-if-delinquent">
                    <a href="/"><i class="icon icon-logo dashboard-logo"></i>
                        <h4 class="dashboard-logo-text">Admin Panel</h4>
                    </a>

                    <div class="navigator-toggle icon icon-navigator-toggle"></div>

                </div>

            </div>

        </div>

        <div class="main-panel scrollable-container container-fluid snap-main-panel">

            {{render "snippets.top-nav"}}

            <div class="main-content">

                <div class="nav nav-tabs sub-nav app-nav">
                    <div class="sub-nav-item">
                        {{#link-to 'admin.numbers' }}
                            <i class="icon icon-sub-nav-resources"></i>
                            Numbers
                        {{/link-to}}
                    </div>

                    <div class="sub-nav-item">
                        {{#link-to 'admin.users' }}
                            <i class="icon icon-sub-nav-resources"></i>
                            Users
                        {{/link-to}}
                    </div>

                </div>

                {{outlet}}

            </div>
        </div>

    </div>

</div>


