.ember-modal-dialog {
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px #222;
    padding: 10px;
    z-index: 50;
    position: fixed;
    max-width: 400px;
    min-width: 300px;
}

.ember-modal-overlay.translucent {
    background-color: rgba(128, 128, 128, 0.77);
}

.ember-modal-overlay {
    height: 100vh;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 50;
}

.ember-modal-dialog.ember-modal-dialog-in-place {
    position: relative;
}

.trendline-chart {
    padding-bottom: 2em;
}

.logo-icon {
    display: inline-block;
    font: normal normal normal 20px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

