.gradle
build
target
*.iws
*Db.properties
*Db.script
.settings
.classpath
.project
eclipse
stacktrace.log
/buildPlugins
web-app/plugins
web-app/WEB-INF/classes
web-app/WEB-INF/tld/c.tld
web-app/WEB-INF/tld/fmt.tld
/server
/*.db
*.iml
h2
*.log

# compiled output
/ember-app/dist
/ember-app/tmp

# dependencies
/ember-app/node_modules
/ember-app/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
cobertura.ser
