<div class="sticky-header">

    <div class="group-header">
        <div class="apps-header flex-grow-1 flex">
            <label for="apps-filter" class="icon icon-search">Search apps</label>

            <input placeholder="Search Existing Numbers" class="ember-view form-control filter mousetrap"
                   id="apps-filter" type="text">

            <div class="ember-view feature-container feature-is-disabled" id="ember756"></div>

        </div>

        <div class="pull-right">

            {{#simple-modal-dialog
                button-title='Add number'
                modal-title='Add number'
                save-button-title='Save'
                save-action='addNumber'}}
                {{input class="form-control new-collaborator-email" placeholder="+380931326201" type="email"}}
            {{/simple-modal-dialog}}

        </div>
    </div>

    <div class="editable-table-component table-responsive">
        <form>
            <table class="table editable-list domain-list">
                <tbody>

                {{#each}}
                    <tr class="collaborator-item editable-item item-persisted">
                        <td>
                            {{upid}}
                        </td>

                        <td class="collaborator-info  show-role">
                        </td>

                        <td class="action-cell"></td>

                    </tr>
                {{/each}}

                <tr class="ember-view domain-item editable-item item-added" id="ember2456">
                    <td>
                        0931326201
                    </td>

                    <td/>


                    <td class="action-cell text-right">
                        <button data-ember-action="2459" class="btn-link undo-item" type="button">
                            <i class="icon icon-undo"></i>
                        </button>
                    </td>

                </tr>
                <tr class="ember-view domain-item editable-item item-added item-new">
                    <td>
                        <div class="ember-view form-group"><input placeholder="yourdomain.com"
                                                                  class="ember-view ember-text-field form-control new-domain"
                                                                  type="text">

                        </div>
                    </td>

                    <td>

                    </td>

                    <td class="action-cell text-right">

                        <button class="btn-link add-item" type="submit">
                            <i class="icon icon-add"></i>
                        </button>

                    </td>

                </tr>

                </tbody>

            </table>

        </form>
    </div>

</div>
