<div class="sticky-header">

    <div class="group-header">
        <div class="apps-header flex-grow-1 flex">
            <label for="apps-filter" class="icon icon-search">Search apps</label>

            <input placeholder="Search Existing Numbers" class="ember-view form-control filter mousetrap"
                   id="apps-filter" type="text">

            <div class="ember-view feature-container feature-is-disabled" id="ember756"></div>

        </div>

        <div class="pull-right">

            {{#simple-modal-dialog
                    button-title='Add number'
                    modal-title='Add number'
                    save-button-title='Save'
                    save-action='addNumber'}}
                <label for="e-mail-address">Number</label>
                <div class="form-group">
                    {{input class="form-control new-collaborator-email" value=upid placeholder="+380931326201"}}
                </div>
            {{/simple-modal-dialog}}

        </div>
    </div>

    <div class="editable-table-component table-responsive">
        <form>
            <table class="table editable-list domain-list">
                <tbody>

                {{#each model as |number|}}
                    <tr class="collaborator-item">

                        <td class="collaborator-info show-role ">
                            <div class="email">{{number.upid}}</div>
                        </td>

                        <td class="action-cell"><!---->
                            <button type="button" class="btn-link remove-item" {{action 'deleteNumber' number.id}}>
                                <i class="icon icon-delete"></i>
                            </button>
                        </td>
                    </tr>
                {{/each}}

                </tbody>

            </table>

        </form>
    </div>

</div>
