<div class="sticky-header">

    <div class="group-header">
        <div class="apps-header flex-grow-1 flex">
            <label for="apps-filter" class="icon icon-search">Search apps</label>

            <input placeholder="Search Existing Numbers" class="ember-view form-control filter mousetrap"
                   id="apps-filter" type="text">

            <div class="ember-view feature-container feature-is-disabled"></div>

        </div>

        <div class="pull-right">

            {{#simple-modal-dialog
            button-title='New user'
            modal-title='New user'
            save-button-title='Save'
            save-action='createUser'}}
                <label for="e-mail-address">Email</label>
                <div class="form-group">
                    {{input class="form-control new-collaborator-email" value=email placeholder="user@domain.com"}}
                </div>
                <label for="e-mail-address">Admin</label>
                <div class="form-group">
                    {{input type="checkbox" checked=isAdmin}}
                </div>
            {{/simple-modal-dialog}}

        </div>
    </div>

    <div class="editable-table-component table-responsive">
        <form>
            <table class="table editable-list domain-list">
                <tbody>

                {{#each model as |user|}}
                    <tr class="collaborator-item">

                        <td class="collaborator-info show-role ">
                            <div class="email">{{user.email}}</div>
                        </td>

                        <td class="action-cell">

                            {{#simple-modal-confirm-dialog
                                modal-title='Delete user'
                                record-name=user.email
                                confirm-action-param=user.id
                                confirm-action='deleteUser'
                                confirm-button-title='Delete user ...'}}
                                <p>Deleting user is irreversible. Enter user name
                                    below to confirm you want to permanently delete it:</p>
                                {{input class="form-control" autofocus="true" value=confirmEmail placeholder=user.email}}
                            {{/simple-modal-confirm-dialog}}
                        </td>
                    </tr>
                {{/each}}

                </tbody>

            </table>

        </form>
    </div>

</div>
