<div class="sticky-header">
    <div class="group-header">
        <h5>Numbers</h5>

        <div class="pull-right">
            <button class="btn btn-sm btn-default edit-button edit-button"
                    type="button">
                Edit
            </button>
        </div>
    </div>

    <div class="editable-table-component table-responsive" >
        <form>
            <table class="table editable-list collaborator-list">
                <tbody>

                <tr class="collaborator-item editable-item item-persisted">
                    <td class="avatar icon-cell">
                        <img src="https://gravatar.com/avatar/f94a08169caa7c95ee3f22c897854051?s=96&amp;d=https://dashboard.heroku.com%2Fimages%2Fninja-avatar-48x48.png"
                             class="gravatar-icon" height="32px"
                             width="32px">
                    </td>

                    <td class="collaborator-info  show-role">
                        <div class="email">0944444</div>
                    </td>
                    <td class="action-cell"></td>

                </tr>

                </tbody>
            </table>
        </form>
    </div>

</div>
