<div class="sidebar-container scrollable-content">
    <div class="shortcuts">
        <h6>Application</h6>

        <div class="personal-apps">
            <ul class="sidebar-nav">
                <li class="group-menu-item active">
                    {{#link-to 'dashboard.reports' class="sidebar-nav-heading org"}}
                        <i class="icon icon-personal-apps"></i>
                        Reports
                    {{/link-to}}
                </li>
            </ul>
            <ul class="sidebar-nav">
                <li class="group-menu-item active">
                    {{#link-to 'dashboard.numbers' class="sidebar-nav-heading org"}}
                        <i class="icon icon-personal-apps"></i>
                        PBX
                    {{/link-to}}
                </li>
            </ul>
            <ul class="sidebar-nav">
                <li class="group-menu-item active">
                    {{#link-to 'dashboard.analytics' class="sidebar-nav-heading org"}}
                        <i class="icon icon-personal-apps"></i>
                        Analytics
                    {{/link-to}}
                </li>
            </ul>
        </div>
    </div>

    <div class="shortcuts">
        <h6>Settings</h6>

        <div class="personal-apps">
            <ul class="sidebar-nav">
                <li class="group-menu-item ">
                    {{#link-to 'dashboard.sites' class="sidebar-nav-heading org"}}
                        <i class="icon icon-personal-apps"></i>
                        Sites
                    {{/link-to}}
                </li>
                <li class="group-menu-item ">
                    {{#link-to 'dashboard.workspaces' class="sidebar-nav-heading org"}}
                        <i class="icon icon-personal-apps"></i>
                        Workspaces
                    {{/link-to}}
                </li>
            </ul>
        </div>

    </div>

</div>