<div class="top-nav">
    <a class="sidebar-toggle visible-sm visible-xs" >
        <i class="icon-hamburger icon"></i>
    </a>

    <div class="section-content ">
        <div class="app-header flex-grow-1 flex">

            <div class="app-name-container flex-grow-1">
                <span class="app-name">My Best Company Name</span>
            </div>

        </div>

    </div>

</div>