<ul class="sidebar-nav">
    <li class="group-menu-item active">
        {{#link-to url class="sidebar-nav-heading org"}}
            <i class="icon icon-personal-apps"></i>
            {{title}}
        {{/link-to}}
    </li>
</ul>