{{#modal-dialog close="toggleModal" targetAttachment="center" translucentOverlay=true}}
    <div class="modal-frame ember-view ember-modal-dialog ember-modal-dialog-center purple-list-modal has-overlay">
        <div class="ember-modal-overlay modal-overlay overlay-class"></div>

        <div class="modal-box">

            <div class="modal-content">
                <div class="modal-header clearfix" data-test-target="modal-header">
                    <button type="button" class="close" aria-hidden="true" data-ember-action="3382">
                        ×
                    </button>
                    <h4 class="modal-title">New collaborator</h4>
                </div>
                <div class="modal-body">
                    <div id="ember3384" class="ember-view"><div class="collaborator-edit">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label for="e-mail-address">Email Address</label>
                                    <div class="ember-view form-group"><input id="ember3386" class="ember-view ember-text-field form-control new-collaborator-email" placeholder="user@domain.com" type="email">
                                        <!---->
                                    </div>
                                </div>
                            </div>
                            <!---->  </div>
                    </div>
                    </div>

                </div>
            </div>

            <div class="modal-footer" data-test-target="modal-footer">
                <!---->
                <!---->
                <button id="ember3387" class="ember-view async-button default btn btn-primary" type="submit" data-test-target="modal-primary-button">    Save changes
                </button>
            </div>
        </div>

    </div>
{{/modal-dialog}}
