<div class="panel-section  ">
    <div class="panel-description">
        <div class="panel-title">
            {{title}}
        </div>
        <div class="panel-details">
            {{details}}
        </div>
    </div>
    <div class="panel-content">
        {{yield}}
    </div>
</div>
