<div class="sidebar-container scrollable-content">
    <div class="shortcuts">
        <h6>Application</h6>

        <div class="personal-apps">
            <ul class="sidebar-nav">
                <li class="group-menu-item active">
                    <a class="sidebar-nav-heading org " href="/OlaMagic/dashboard/togrul/reports/reportOne"><i class="icon icon-personal-apps"></i>
                        Reports
                    </a>
                </li>
            </ul>
            <ul class="sidebar-nav">
                <li class="group-menu-item active">
                    <a class="sidebar-nav-heading org active" href="/OlaMagic/dashboard/togrul/numbers"><i class="icon icon-personal-apps"></i>
                        PBX
                    </a>
                </li>
            </ul>
            <ul class="sidebar-nav">
                <li class="group-menu-item active">
                    <a class="sidebar-nav-heading org
                                " href="/OlaMagic/dashboard/togrul/adSources"><i class="icon icon-personal-apps"></i>
                        Analytics
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="shortcuts">
        <h6>Settings</h6>

        <div class="personal-apps">
            <ul class="sidebar-nav">
                <li class="group-menu-item ">
                    <a class="sidebar-nav-heading org" href="/OlaMagic/dashboard/togrul/sites"><i class="icon icon-personal-apps"></i>
                        Sites
                    </a>
                </li>
            </ul>
        </div>

    </div>

</div>