<div style="padding-bottom: 2em">
    <button type="button" class="btn btn-sm btn-primary save-button">
        Today
    </button>
    <button type="button" class="btn btn-sm btn-default edit-button edit-button">
        Yesterday
    </button>
    <button type="button" class="btn btn-sm btn-default edit-button edit-button">
        Week
    </button>
    <button type="button" class="btn btn-sm btn-default edit-button edit-button">
        Month
    </button>
    <button type="button" class="btn btn-sm btn-default edit-button edit-button">
        Year
    </button>
    <button type="button" class="btn btn-sm btn-default edit-button edit-button">
        6 October
    </button>

    <div style="width: 20em; padding-top: 1em">
        {{view "select" class="ember-select form-control"
        content=detalizationOptions
        optionLabelPath="content.option"
        value=detalizationOption
        }}
    </div>

</div>

<div class="trendline-chart">
    {{ember-chart type='Line' data=data width=900 height=200 legend=false options=options}}
</div>

<div class="editable-table-component table-responsive">
    <form>
        <table class="table editable-list domain-list">
            <tbody>
            <tr class="collaborator-item editable-item item-persisted">
                <td>
                    Date
                </td>
                <td>
                    Number
                </td>
                <td>
                    Duration
                </td>
                <td>
                    Campaign
                </td>
            </tr>

            {{#each report as |row|}}
                <tr class="collaborator-item editable-item item-persisted">
                    {{#each row as |column|}}
                        <td>
                            {{column}}
                        </td>
                    {{/each}}
                </tr>
            {{/each}}
            </tbody>

        </table>

    </form>
</div>
