<div class="editable-table-component table-responsive">
    <form>
        <table class="table editable-list domain-list">
            <tbody>
            {{#each model.firstObject.a as |row|}}
                <tr class="collaborator-item editable-item item-persisted">
                    <td>
                        {{#link-to 'dashboard.analytics.adsources.adsource' adsource.id class="sidebar-nav-heading org"}}
                            {{row}}
                        {{/link-to}}
                    </td>


                    <td class="action-cell">
                        <button type="button" class="btn-link remove-item" {{action 'removeAdsource' adsource}}>
                            <i class="icon icon-delete"></i>
                        </button>
                    </td>

                </tr>
            {{/each}}
            </tbody>

        </table>

    </form>
</div>
