{{render "snippets.top-nav"}}


<div class="main-content">


    <div class="nav nav-tabs sub-nav app-nav">
        <div class="sub-nav-item">
            {{#link-to 'dashboard.pbx.numbers' }}
                <i class="icon icon-sub-nav-resources"></i>
                My Numbers
            {{/link-to}}
        </div>
    </div>

    {{outlet}}

</div>