{{render "snippets.top-nav"}}


<div class="main-content">


    <div class="nav nav-tabs sub-nav app-nav">
        <div class="sub-nav-item"><a class="active"
                                     href="/apps/olamagic/resources"><i
                class="icon icon-sub-nav-resources-active"></i>
            <span>Report One</span>
        </a></div>

        <div class="sub-nav-item"><a class="active"
                                     href="/apps/olamagic/resources"><i
                class="icon icon-sub-nav-resources-active"></i>
            <span>Report Two</span>
        </a></div>


        <div class="sub-nav-item"><a class="active"
                                     href="/apps/olamagic/resources"><i
                class="icon icon-sub-nav-resources-active"></i>
            <span>Report Three</span>
        </a></div>


    </div>

    {{outlet}}

</div>