{{render "snippets.top-nav"}}


<div class="main-content">


    <div class="nav nav-tabs sub-nav app-nav">
        <div class="sub-nav-item"><a class="active"
                                     href="/apps/olamagic/resources"><i
                class="icon icon-sub-nav-resources-active"></i>
            <span>Sites</span>
        </a></div>

    </div>

    {{outlet}}

</div>