<div class="nav nav-tabs sub-nav app-nav">
    {{sub-nav-item title='Ad Sources' url='dashboard.analytics.adsources'}}
    {{sub-nav-item title='Campaigns' url='dashboard.analytics.campaigns'}}
</div>

{{outlet}}