{{menu-head title='My workspace'}}


<div class="main-content">

    <div class="nav nav-tabs sub-nav app-nav">
        {{sub-nav-item title='Ad Sources' url='dashboard.analytics'}}
        {{sub-nav-item title='Campaigns' url='dashboard.analytics'}}
    </div>

    {{outlet}}

</div>