{{menu-head title='My workspace'}}


<div class="main-content">

    <div class="nav nav-tabs sub-nav app-nav">

        {{sub-nav-item title='PBX' url='dashboard.numbers'}}

    </div>

    <div class="sticky-header">
        <div class="group-header">
            <h5>Numbers</h5>

            <div class="pull-right">
                <button class="btn btn-sm btn-default edit-button edit-button"
                        type="button">
                    Edit
                </button>
            </div>
        </div>

        <div class="editable-table-component table-responsive">
            <form>
                <table class="table editable-list domain-list">
                    <tbody>
                    {{#each model as |item|}}
                        <tr class="collaborator-item editable-item item-persisted">
                            <td>
                                {{item.upid}}
                            </td>

                            <td class="collaborator-info  show-role">
                            </td>

                            <td class="action-cell"></td>

                        </tr>
                    {{/each}}

                    <tr class="domain-item editable-item item-added">
                        <td>
                            0931326201
                        </td>

                        <td/>


                        <td class="action-cell text-right">
                            <button class="btn-link undo-item" type="button">
                                <i class="icon icon-undo"></i>
                            </button>
                        </td>

                    </tr>
                    <tr class=" domain-item editable-item item-added item-new">
                        <td>
                            <div class=" form-group"><input placeholder="yourdomain.com"
                                                                      class=" ember-text-field form-control new-domain"
                                                                      type="text">

                            </div>
                        </td>

                        <td class="action-cell text-right">

                            <button class="btn-link add-item" type="submit">
                                <i class="icon icon-add"></i>
                            </button>

                        </td>

                    </tr>

                    </tbody>

                </table>

            </form>
        </div>

    </div>


</div>