<div class="nav nav-tabs sub-nav app-nav">
    {{sub-nav-item title='PBX' url='dashboard.numbers'}}
</div>

<div class="sticky-header">
    <div class="group-header">
        <h5>Numbers</h5>

        {{#simple-modal-dialog
        button-title='Buy number'
        modal-title='Buy number'
        save-button-title='Buy'
        save-action='buyNumber'}}
            {{view "select" class="ember-select form-control"
                content=availableNumbers
                optionLabelPath="content.upid"
                value=selectedNumber
            }}
        {{/simple-modal-dialog}}

    </div>

    <div class="editable-table-component table-responsive">
        <form>
            <table class="table editable-list domain-list">
                <tbody>
                {{#each myNumbers as |number|}}
                    <tr class="collaborator-item editable-item item-persisted">
                        <td>
                            {{number.upid}}
                        </td>

                        <td class="action-cell">
                            <button type="button" class="btn-link remove-item" {{action 'releaseNumber' number}}>
                                <i class="icon icon-delete"></i>
                            </button>
                        </td>

                    </tr>
                {{/each}}
                </tbody>

            </table>

        </form>
    </div>

</div>