{{menu-head title='My workspace'}}


<div class="main-content">

    <div class="nav nav-tabs sub-nav app-nav">
        <div class="sub-nav-item">
            {{#link-to 'dashboard.reports.report-one' }}
                <i class="icon icon-sub-nav-resources"></i>
                Report One
            {{/link-to}}
        </div>

        <div class="sub-nav-item">
            {{#link-to 'dashboard.reports.report-two' }}
                <i class="icon icon-sub-nav-resources"></i>
                Report Two
            {{/link-to}}
        </div>

        <div class="sub-nav-item">
            {{#link-to 'dashboard.reports.report-three' }}
                <i class="icon icon-sub-nav-resources"></i>
                Report Three
            {{/link-to}}
        </div>


    </div>

    {{outlet}}

</div>