{{render "snippets.top-nav"}}


<div class="main-content">

    <div class="nav nav-tabs sub-nav app-nav">
        <div class="sub-nav-item">
            {{#link-to 'dashboard.sites' }}
                <i class="icon icon-sub-nav-resources"></i>
                Sites
            {{/link-to}}
        </div>

    </div>

    {{outlet}}

</div>