{{render "snippets.top-nav"}}


<div class="main-content">

    <div class="nav nav-tabs sub-nav app-nav">

        {{#each model.workspaces as |item|}}
            <div class="sub-nav-item">
                {{#link-to 'dashboard.workspaces.workspace' item.id}}
                    <i class="icon icon-sub-nav-settings"></i>
                    {{item.title}}
                {{/link-to}}
            </div>
        {{/each}}

        <div class="sub-nav-item">
            <button class="btn btn-primary enabled" {{action 'newWorkspace'}}>+</button>
        </div>

    </div>

    {{outlet}}

</div>