{{#main-layout}}

    {{workspace-control dashboardTitle='Admin'}}

    <div class="sidebar-container scrollable-content">
        {{nav-item title='Settings' url='admin.settings'}}
    </div>

{{/main-layout}}