{{#main-layout1 activeWorkspaceTitle=activeWorkspaceTitle}}

    <!-- Side Header -->
    <div class="side-header side-content bg-white-op">
        <!-- Themes functionality initialized in App() -> uiHandleTheme() -->
        <div class="btn-group pull-right">
            <button class="btn btn-link text-gray dropdown-toggle" data-toggle="modal" data-target="#apps-modal">
                <i class="si si-grid"></i>
            </button>
        </div>
        <a class="h5 text-white" href="start_backend.html">
            <i class="fa-paw logo-icon text-primary"></i>
            <span class="h4 font-w600 sidebar-mini-hide">laMagic</span>
        </a>
    </div>
    <!-- END Side Header -->

    <!-- Side Content -->
    <div class="side-content">
        <ul class="nav-main">
            {{nav-item1 title='Dashboard' icon='si si-speedometer' url='dashboard1'}}
            {{#nav-group1 title='Application'}}
                {{nav-item1 title='Analytics' icon='si si-graduation' url='dashboard.reports'}}
                {{nav-item1 title='PBX' icon='si si-call-end' url='dashboard.reports'}}
                {{nav-item1 title='Site' icon='si si-globe' url='dashboard.reports'}}
            {{/nav-group1}}
        </ul>
    </div>
    <!-- END Side Content -->
    
{{/main-layout1}}