{{menu-head title='Admin'}}


<div class="main-content">

    <div class="nav nav-tabs sub-nav app-nav">
        {{sub-nav-item title='Numbers' url='admin.settings.numbers'}}
        {{sub-nav-item title='Users' url='admin.settings.users'}}
    </div>

    {{outlet}}

</div>